/* Error: Undefined variable.
 *    ,
 * 42 |     @if $color-fondo == $ligth or $color-fondo == $info {
 *    |                         ^^^^^^
 *    '
 *   scss\abstracts\_mixins.scss 42:25     botones-base()
 *   scss\components\_botones.scss 6:9     @use
 *   scss\components\_components.scss 1:1  @use
 *   scss\main.scss 6:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 42 \2502      @if $color-fondo == $ligth or $color-fondo == $info {\d\a    \2502                          ^^^^^^\a    \2575 \a   scss\\abstracts\\_mixins.scss 42:25     botones-base()\a   scss\\components\\_botones.scss 6:9     @use\a   scss\\components\\_components.scss 1:1  @use\a   scss\\main.scss 6:1                    root stylesheet";
}
