@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
//TIPOGRAFIA

.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}

.fw-bold{font-weight: bold;}
.fw-light{font-weight: 300;}

.fs-cursive{font-style: italic;}

.font-times{font-family: 'Times New Roman', Times, serif;}
.font-mono{font-family: monospace;}

.fs-1{font-size: 32px;}
.fs-2{font-size: 24px;}
.fs-3{font-size: 18px;}


//ESPACIADOS GENERADOS CON FOR

@for $i from 1 through 3{
    .mt-#{$i}{margin-top: $i * 10px;}
    .mt-#{$i}{margin-top: $i * 10px;}
    .mb-#{$i}{margin-bottom: $i * 10px;}
    .mb-#{$i}{margin-bottom: $i * 10px;}
    .pt-#{$i}{padding-top: $i * 10px;}
    .pt-#{$i}{padding-top: $i * 10px;}
    .pb-#{$i}{padding-bottom: $i * 10px}
    .p-#{$i}{padding: $i * 10px;}
    .p-#{$i}{padding: $i * 10px;}
}

//Colores en un solo @each
@each $nombre, $valor in $theme-colors{
    //textos
    .text-#{$nombre}{
        color: $valor;}
    .bg-#{$nombre}{
        background-color: $valor;}

    //bordes
    .border-#{$nombre}{
        border: 3px solid $valor;}
    .border-bottom-#{$nombre}{
        border-bottom: 3px solid $valor;}
    .borde-top-#{$nombre} {
        border-top: 3px solid $valor;}
}

//BORDES 

.br-1{border-radius: 5px;}
.br-2{border-radius: 10px;}
.br-3{border-radius: 15px;}
.rounded{border-radius: 50px;}

//SOMBRAS 
.shadow-sm {@include sombra($dark, 0.08);}
.shadow-lg {@include sombra($dark, 0.25);}

//FLEXBOX

.d-none{display: none;}
.d-block{display: block;}
.d-inline-b{display: inline-block;}
.d-flex{display: flex;}

.j-cont-cent{ justify-content: center;}
.j-cont-bet{justify-content: space-between;}
.j-cont-end{justify-content: flex-end;}
.aling-item{align-items: center;}
.f-colum{flex-direction: column;}
.f-wrap{flex-wrap: wrap;}
