/*Sistema de Layout (basado en boostrap, rejillas de 12 columnas)*/

/*CONTENEDORES*/
/*Contenedor fijo que cambia según el tamaño del dispositivo*/
.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*Contenedor fluid*/
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*MODELO DE FILAS*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px; /*Arregla el padding de las columnas para alinear los border*/
  margin-right: -15px;
}

/*MODILE FIRTS, 12 COLUMNAS, CLASES PARA .COL */
@for $i from 1 through 12 {
  .col-#{$i} {
    /*formula para ajustar el tamaño: (100% / total col) * num actual col*/
    flex: 0 0 calc(100% / 12 * #{$i});
    max-width: calc(100% / 12 * #{$i});
    padding: 0 15px;
  }
}

/*BREAKPOINTS*/
/*Para tablet (md: medium) para pantallas de 768px en adelante*/
@media (min-width: 768px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
  }
}

/*Para computadoras (lg: large) para pantallas de 1024px en adelante*/
@media (min-width: 1024px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      flex: 0 0 calc(100% / 12 * #{$i});
      max-width: calc(100% / 12 * #{$i});
    }
  }
}
