@use '../abstracts/variables';

.btn-primario{
    background-color: variables.$primary;
    color: variables.$text-dark;

    &:hover{
        background-color: darken(variables.$primary, 10%);
    }
}
.btn-segundario{
    background-color: variables.$secondary;
    color: variables.$text-light;

    &:hover{
        background-color: lighten(variables.$secondary, 10%);
    }
}
