@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as comp;

@each $nombre, $valor in $theme-colors{
    .btn-#{$nombre}{
        @include comp.botones-base($valor);
    }

    .btn-#{$nombre}-outline{
        @include comp.botones-base($valor, "outline");
    }
}
.btn-lg {
  padding: 15px 25px;
  font-size: 18px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
}

.btn-block {
  width: 100%;
}