@use '../abstracts/mixins' as comp;
@use '../abstracts/variables' as *;

.card {
    @include comp.card-base;
}

@each $nombre, $valor in $theme-colors {
  .card-#{$nombre} {
    @include comp.card-color($valor);
  }
}

//Layout Horizontal
.card-horizontal{
    flex-direction: row;

    .card-img{
        width: 40%;
        height: 100%;
        object-fit: cover;
    }
}

//ocultar footer
.card-sin-footer{
    .card-footer{
        display: none;
    }
}

//centrado
.card-centrada{
    .card-body{
    @include comp.flex-centrado(center, center, column);
    }
}

//imagen arriba
.card-img-top{
    .card-img{
        border-bottom: 1px solid rgb($dark, 0.1);
    }
}

//efecto
.card-hover{
    @include comp.transicion;

    &:hover{
        transform: translateY(-5px);
        @include comp.sombra($dark, 0.2)
    }
}

//tipografia
.card-title{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}
.card-text{
    font-size: 0.95rem;
    margin-bottom: 1rem;
}
.card-link{
    @include comp.transicion;
    color: $info;

    &:hover{
        text-decoration: underline;
    }
}