@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.main-footer {
  @include m.footer-base;
  width: 100%;
  position: relative;
  z-index: 2500; 

  .footer-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

@each $nombre, $valor in v.$theme-colors {
  .main-footer-#{$nombre} {
    @include m.footer-color($valor);
  }
}