@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use "sass:color";

.form {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  padding: 20px;
  background-color: color.adjust($info, $lightness: 30%);
;
  border-radius: 10px;
  @include sombra($dark, 0.3);
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 600;
  color: $dark;
}

.input,
.textarea,
.select {
  @include formulario-base();
  
  &:hover{
    border-color: color.adjust($muted, $lightness: -10%);
  }
}

.input-sm {
  padding: 6px 10px;
  font-size: 12px;
}

.input-lg {
  padding: 14px 18px;
  font-size: 16px;
}

.textarea {
  min-height: 130px;
  resize: vertical;
}

.select {
  cursor: pointer;
}

.input-valid{ @include formulario-estado("success")}
.input-invalid{ @include formulario-estado("error")}

.form-text{
  font-size: 12px;
  margin-top: 6px;
  color: $muted;

  &.success {color: $success; font-weight: 500;}
  &.error {color: $alert; font-weight: 500;}
}

.input-check{
  display: block;
  align-items: center;
  gap: 8px;
  font-size: 14px;

  .input{
    accent-color: $primary;
    transform: scale(1.05);
  }
}

