@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "navbar-mixins" as nm;   

$estilos-navbar: ("base", "underline", "buttons", "dropdown");

@each $nombre-color, $valor-color in v.$theme-colors {
  @each $estilo in $estilos-navbar {

    $sufijo-estilo: "navbar-#{$estilo}";
    @if $estilo == "base" {
      $sufijo-estilo: "navbar";
    }

    .#{$sufijo-estilo}--#{$nombre-color} {
      @include m.navbar-base;
      @include m.navbar-color($valor-color);

      @if $estilo == "underline"       { @include nm.nav-underline; }
      @else if $estilo == "buttons"    { @include nm.nav-pill;      }
      @else if $estilo == "dropdown"   { @include nm.nav-dropdown($valor-color);  }
    }
  }
}

.navbar          { @include m.navbar-base; @include m.navbar-color(v.$primary); }
.navbar-underline{ @include m.navbar-base; @include m.navbar-color(v.$primary); @include nm.nav-underline; }
.navbar-buttons  { @include m.navbar-base; @include m.navbar-color(v.$primary); @include nm.nav-pill;      }
.navbar-dropdown { @include m.navbar-base; @include m.navbar-color(v.$primary); @include nm.nav-dropdown(v.$primary);  }