@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as *;

.sidebar-main {
  @include m.sidebar-base;
  @include m.sidebar-color($secondary);
}

@each $nombre, $valor in $theme-colors {
  .sidebar-#{$nombre} {
    @include m.sidebar-color($valor);
  }
}
//No modificar de aqui en adelante o deja de funcionar el sidebar
.sidebar-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba($dark, 0.5);
  z-index: 2550;

  &.is-active {
    display: block;
  }
}

// Sin navbar ni footer — comportamiento por defecto
.main-wrapper {
  display: flex;
  min-height: 100vh;
  margin-top: 0;
  align-items: flex-start;

  // Solo cuando hay navbar
  &.has-navbar {
    min-height: calc(100vh - #{$navbar-height});
    margin-top: $navbar-height;
  }
}

.main-content {
   flex: 1;
  min-width: 0;
  padding: 1rem;
  padding-bottom: 2rem;

  @include m.responsive(md) {
    margin-left: 250px;
  }
}

.sidebar-toggle-btn {
  @include m.sidebar-toggle-base($secondary);
}