@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use "sass:color";

.table {
  @include tabla-base(true);
  @include table-color($light, $primary);
}

.table-container {
  width: 100%;
  overflow-x: auto;
  border: 1px solid rgba($muted, 0.3);
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}

.table-sm {
  th, td {
    padding: 6px 10px;
    font-size: 16px;
  }
}

.table-lg {
  th, td {
    padding: 16px 20px;
    font-size: 16px;
  }
}

.table-bordered {
  th, td {
    border: 1px solid $muted;
  }
}

.table-clean {
  th, td {
    border-bottom: none;
  }
}

@each $nombre, $valor in $theme-colors{
  .table-#{$nombre}{
    @include table-color($valor, $primary);
  }
}