//colores de marca
$primary: #BB8588;
$secondary: #4E5748;
$success: #6E8F6B;

//colores semanticos 
$info: #7FA6A0;
$warning: #D1A85C;
$danger: #D36B6B;
$light: #EFEBCE;
$alert: #E85C5C;
$dark: #2F332B;
$accent: #D8A39D;
$muted: #B8B2A0;

//colores de texto
$text-dark: #000000;
$text-light: #fff;

//mapa de colores
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "alert": $alert,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "accent": $accent,
  "muted": $muted
);

//Varaibles para los breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

//Variables para el tamaño maximo del width, el padding y margen negativo
$container-max-width: 1200px;
$container-padding-x: 15px;
$gutter: 15px;

//Variables para los tamaños de botones
$btn-padding-sm: 8px 16px;
$btn-font-sm: 14px;
$btn-padding-md: 12px 22px;
$btn-font-md: 16px;
$btn-padding-lg: 16px 30px;
$btn-font-lg: 18px;

//Variable para la altura del navbar
$navbar-height: 56px;