$primary: #BB8588;
$secondary: #4E5748;
$seccess: #A3A380;
$info: #D7CE93;
$warring: #B9AF7D;
$danger: #D8A48F;
$ligth: #EFEBCE;
$alert: #E0616B;

$dark: #2F332B;
$accent: #E6B8A2;
$muted: #C9C3A5;
$text-dark: #000000;
$text-light: #fff;