//colores de marca
$primary: #BB8588;
$secondary: #4E5748;
$success: #A3A380;

//colores semanticos 
$info: #D7CE93;
$warning: #B9AF7D;
$danger: #D8A48F;
$light: #EFEBCE;
$alert: #E0616B;
$dark: #2F332B;
$accent: #E6B8A2;
$muted: #C9C3A5;

//colores de texto
$text-dark: #000000;
$text-light: #fff;

//mapa de colores
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "alert": $alert,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "accent": $accent
);